*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(251,184,63);
    min-height: 100vh;
    background: linear-gradient(45deg, rgba(251,184,63,0.9344070391828606) 17%, rgba(252,70,222,0.9119980755974265) 61%);
}

header {
    font-family: 'Kanit', sans-serif;
    color: #fff;
    padding: 20px;
    text-align: center;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height:72vh;
}
form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgba(185, 45, 189, 0.93) 17%, rgba(82, 161, 175, 0.91) 61%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
input[type="text"] {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: rgb(250, 241, 241);
    text-align: right;
    width: 200px;
}
div
{
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: rgb(250, 241, 241);
    text-align: center;
    width: 150px;
}
footer {
    font-family: 'Poiret One', cursive;
    display: flex;
    justify-content: center;
    color: white;
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
}

